<div class="container">
  <div class="col-md-12">
    <div class="mt-5">
      <h1 class="text-center">Registracija</h1>

      <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name" [(ngModel)]="form.name" required minlength="3"
            maxlength="50" #name="ngModel" />
          <div class="alert-danger" *ngIf="name.errors && f.submitted">
            <div *ngIf="name.errors['required']">Name is required</div>
            <div *ngIf="name.errors['minlength']">
              Username must be at least 3 characters
            </div>
            <div *ngIf="name.errors['maxlength']">
              Username must be at most 50 characters
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="name">Last name</label>
          <input type="text" class="form-control" name="lastName" [(ngModel)]="form.lastName" required minlength="3"
            maxlength="80" #lastName="ngModel" />
          <div class="alert-danger" *ngIf="lastName.errors && f.submitted">
            <div *ngIf="lastName.errors['required']">Last name is required</div>
            <div *ngIf="lastName.errors['minlength']">
              Username must be at least 3 characters
            </div>
            <div *ngIf="lastName.errors['maxlength']">
              Username must be at most 80 characters
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required minlength="3"
            maxlength="20" #username="ngModel" />
          <div class="alert-danger" *ngIf="username.errors && f.submitted">
            <div *ngIf="username.errors['required']">Username is required</div>
            <div *ngIf="username.errors['minlength']">
              Username must be at least 3 characters
            </div>
            <div *ngIf="username.errors['maxlength']">
              Username must be at most 20 characters
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email
            #email="ngModel" />
          <div class="alert-danger" *ngIf="email.errors && f.submitted">
            <div *ngIf="email.errors['required']">Email is required</div>
            <div *ngIf="email.errors['email']">
              Email must be a valid email address
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="jmbg">JMBG</label>
          <input type="text" class="form-control" name="jmbg" [(ngModel)]="form.jmbg" required minlength="13"
            maxlength="20" #jmbg="ngModel" />
          <div class="alert-danger" *ngIf="jmbg.errors && f.submitted">
            <div *ngIf="jmbg.errors['required']">JMBG je obavezan</div>
            <div *ngIf="jmbg.errors['minlength']">
              JMBG mora da sadrzi 13 karaktera
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="prebivaliste">Prebivaliste</label>
          <input type="text" class="form-control" name="prebivaliste" [(ngModel)]="form.prebivaliste" required
             #prebivaliste="ngModel" />
          <div class="alert-danger" *ngIf="prebivaliste.errors && f.submitted">
            <div *ngIf="prebivaliste.errors['required']">Unos prebivalista je obavezan</div>
          </div>
        </div>

        <div class="form-group">
          <label for="grad">Grad</label>
          <input type="text" class="form-control" name="grad" [(ngModel)]="form.grad" required
             #grad="ngModel" />
          <div class="alert-danger" *ngIf="grad.errors && f.submitted">
            <div *ngIf="grad.errors['required']">Unos grada je obavezan</div>
          </div>
        </div>

        <div class="form-group">
          <label for="drzava">Drzava</label>
          <input type="text" class="form-control" name="drzava" [(ngModel)]="form.drzava" required
             #drzava="ngModel" />
          <div class="alert-danger" *ngIf="drzava.errors && f.submitted">
            <div *ngIf="drzava.errors['required']">Unos drzave je obavezan</div>
          </div>
        </div>

        <div class="form-group">
          <label for="brojTelefona">Broj telefona</label>
          <input type="text" class="form-control" name="brojTelefona" [(ngModel)]="form.brojTelefona" required
             #brojTelefona="ngModel" />
          <div class="alert-danger" *ngIf="brojTelefona.errors && f.submitted">
            <div *ngIf="brojTelefona.errors['required']">Unos broja telefona je obavezan</div>
          </div>
        </div>

        <div class="form-group">
          <label for="pol">Pol</label>
          <select class="form-select" name="pol" [(ngModel)]="form.pol" required>
            <option value="M">Muski</option>
            <option value="F">Zenski</option>
          </select>
        </div>

        <div class="form-group">
          <label for="zanimanje">Zanimanje</label>
          <input type="text" class="form-control" name="zanimanje" [(ngModel)]="form.zanimanje" required
             #zanimanje="ngModel" />
          <div class="alert-danger" *ngIf="zanimanje.errors && f.submitted">
            <div *ngIf="zanimanje.errors['required']">Unos zanimanja je obavezan</div>
          </div>
        </div>

        <div class="form-group">
          <label for="info">Informacije o preduzecu, fakultetu, skoli</label>
          <input type="text" class="form-control" name="info" [(ngModel)]="form.info" />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6"
            #password="ngModel" />
          <div class="alert-danger" *ngIf="password.errors && f.submitted">
            <div *ngIf="password.errors['required']">Password is required</div>
            <div *ngIf="password.errors['minlength']">
              Password must be at least 6 characters
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="repeatedPassword">Repeat password</label>
          <input type="password" class="form-control" name="repeatedPassword" [(ngModel)]="form.repeatedPassword" required minlength="6"
            #repeatedPassword="ngModel" />
          <div class="alert-danger" *ngIf="repeatedPassword.errors && f.submitted">
            <div *ngIf="repeatedPassword.errors['required']">Password is required</div>
            <div *ngIf="repeatedPassword.errors['minlength']">
              Password must be at least 6 characters
            </div>
          </div>
        </div>

        <div class="form-group mt-3">
          <button class="btn btn-primary btn-block">Register</button>
        </div>

        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Signup failed!<br />{{ errorMessage }}
        </div>
      </form>

      <div class="alert alert-success" *ngIf="isSuccessful">
        Your registration is successful!
      </div>
    </div>
  </div>
</div>
