<nav class="navbar navbar-expand-lg bg-dark sticky-top">
  <div class="container-fluid">
    <button class="navbar-toggler bg-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Left side -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" routerLink="/">Početna</a>
        </li>

        <li class="nav-item" *ngIf="isUserLoggedIn">
          <a class="nav-link active text-white" aria-current="page" routerLink="/centers">Lista centara</a>
        </li>

        <li class="nav-item" *ngIf="isUserLoggedIn">
          <a class="nav-link active text-white" aria-current="page" routerLink="/visiting-history">Istorija poseta</a>
        </li>

        <li class="nav-item" *ngIf="isUserLoggedIn">
          <a class="nav-link active text-white" aria-current="page" routerLink="/examinations">Zakazane posete</a>
        </li>

        <li class="nav-item" *ngIf="isUserLoggedIn">
          <a class="nav-link active text-white" aria-current="page" routerLink="/qr-list">QR zakazanih termina</a>
        </li>

        <li class="nav-item" *ngIf="isUserLoggedIn">
          <a class="nav-link active text-white" aria-current="page" routerLink="/questionnaire">Upitnik</a>
        </li>

        <li class="nav-item" *ngIf="isUserLoggedIn">
          <a class="nav-link active text-white" aria-current="page" routerLink="/my-complaints">Zalbe</a>
        </li>

        <li class="nav-item" *ngIf="isUserLoggedIn">
          <a class="nav-link active text-white" aria-current="page" routerLink="/profile">Profil</a>
        </li>

        <li class="nav-item" *ngIf="isUserLoggedIn">
          <a class="nav-link active text-white" aria-current="page" routerLink="/questionary">Upitnik</a>
        </li>

      </ul>

      <div class="d-flex" style="column-gap: 20px;" *ngIf="!isUserLoggedIn">
        <a routerLink="/login"><button class="btn btn-primary">Login</button></a>
        <a routerLink="/register"><button class="btn btn-warning">Register</button></a>
      </div>

      <!-- Right side -->
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0" *ngIf="isUserLoggedIn">

      </ul>

      <div class="d-flex" style="column-gap: 20px;" *ngIf="isUserLoggedIn">
        <button class="btn btn-danger" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</nav>
